@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
// Volendo posso recuperare tutti i dati dell'utente grazie allo userManager
// Ma devo essere consapevole che questo mi costerà una query al database
// ApplicationUser applicationUser = await userManager.GetUserAsync(User);
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" asp-page="/Account/Manage/Index" asp-area="Identity">Ciao @User.FindFirst("FullName").Value!</a>
    </li>
    <li class="nav-item active">
        <form class="form-inline" method="post" asp-page="/Account/Logout" asp-area="Identity">
            <button type="submit" class="btn btn-link text-white">Esci</button>
        </form>
    </li>
</ul>
}
else
{
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" asp-page="/Account/Register" asp-area="Identity">Registrati</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" asp-page="/Account/Login" asp-area="Identity">Accedi</a>
    </li>
</ul>
}