@model CourseEditInputModel
<section class="course-info">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="RowVersion">
        <div class="row">
            <div class="col-md-9">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>
                <button type="button" class="btn btn-danger btn-lg ml-3"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" asp-validation-summary="All"></div>
        </div>
        <input type="hidden" asp-for="Id">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Title">
                    <span asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" data-summernote rows="18"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="col-md-3">
                <aside>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input type="email" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullPrice"></label>
                        <div class="input-group">
                            <select asp-items="@Html.GetEnumSelectList<Currency>()" asp-for="FullPrice.Currency" class="form-control"></select>
                            <input type="number" step="any" asp-for="FullPrice.Amount" class="form-control form-control-block">
                            <span asp-validation-for="FullPrice"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentPrice"></label>
                        <div class="input-group">
                            <select asp-items="@Html.GetEnumSelectList<Currency>()" asp-for="CurrentPrice.Currency" class="form-control"></select>
                            <input type="number" step="any" asp-for="CurrentPrice.Amount" class="form-control form-control-block">
                            <span asp-validation-for="CurrentPrice"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImagePath"></label>
                        <div class="preview-container">
                            <input type="hidden" asp-for="ImagePath">
                            <img id="preview" src="@Model.ImagePath" asp-append-version="true">
                        </div>
                        <div class="custom-file mt-3">
                            <input type="file" class="custom-file-input" asp-for="Image" onchange="updatePreview(this)">
                            <label class="custom-file-label" asp-for="Image"></label>
                            <span asp-validation-for="Image"></span>
                            <p><small>L'immagine verrà ritagliata quadrata.</small></p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </form>
</section>
@section Scripts
{
    <partial name="_Validation"></partial>
    <partial name="_Summernote"></partial>

    <script>
        function updatePreview(inputFile) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(inputFile.files[0]);
        }
    </script>
}