@page
<h1>Privacy</h1>
<p>Non puoi accedere ai servizi usando tecniche automatizzate come scraping, spider, ecc...</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae temporibus ipsam saepe fugiat, minus vero adipisci est quam, perferendis animi eos voluptate doloribus quod, delectus quos nulla ea ratione a!</p>