html, body {
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
}
body>.container {
    flex: 1;
}
body>footer {
    background-color: #f5f5f5;
}

h1 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-weight: 200;
}

.course h2 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
}

hr {
    margin:0.5em 0;
}

author {
    font-style: italic;
    color: #888;
}
.rating {
    color: orange;
    white-space: nowrap;
}
.price s {
    color :#aaa;
    font-size: 0.8em;
}

footer {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    padding-bottom: 2em;
    text-align: center;
    color: gray;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

/* Course info */
.course-info {
    margin-bottom: 2em;
}
.course-info aside {
    background-color: #f5f5f5;
    padding: 1em;
    height: 100%;
}
.course-info .register-button, .course-info .course-image {
    margin-top: 1em;
}

.course-info .price {
    font-size: 1.3rem;
}

.course-info .subscribe-course {
    margin-bottom: 1em;
}

.course-lessons .lesson-duration i, .course-lessons .course-duration i {
    margin-right: 0.3em;
}

.course-lessons .course-duration {
    font-weight: bold;

}
section+section {
    margin-top: 2em;
}
.jumbotron {
    background-image: url('/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron h1 {
    font-size: 3.5rem;
}
.field-validation-error {
    color:red;
}
.validation-summary-errors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

.validation-summary-errors li {
    color: darkred;
    border-left: 3px solid red;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(255, 0, 0, 0.05);
    margin-bottom: 2px;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    display: block;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* Icona per l'input type="file" */
.custom-file-label::after {
    content: '\f07c' !important;
    font-family: 'Font Awesome 5 Free';
}
.preview-container {
    padding-top: 100%;
    position: relative;
}
.preview-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}