@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Scarica i tuoi dati personali";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}