@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Informazioni personali";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Il tuo profilo contiene le informazioni personali che ci hai fornito. Questa pagina ti permette di scaricare o di eliminare le tue informazioni personali.</p>
        <p>
            <strong>Eliminare queste informazioni causerà la chiusura del tuo profilo utente e non potrai più accedervi.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Scarica</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Elimina</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}