@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma password dimenticata";
}

<h1>@ViewData["Title"]</h1>
<p>
    Per favore controlla la tua email per reimpostare la password.
</p>

