@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Conferma registrazione";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
    Quest'applicazione sta funzionando in ambiente <strong>Development</strong>, perciò per praticità viene mostrato qui il contenuto dell'email di conferma:<br>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clicca qui per confermare la tua registrazione</a>
    </p>
    }
    else
    {
    <p>
    Per favore controlla la tua casella email per confermare la registrazione.
    </p>
    }
}
